<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Keyworder</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="select-keywords">
                <span class="mdi mdi-file-tree" aria-hidden="true"></span> Select Keywords
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-category">
                <span class="mdi mdi-sitemap" aria-hidden="true"></span> Create Category
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="delete-category">
                <span class="mdi mdi-delete" aria-hidden="true"></span> Delete Category
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="edit-category">
                <span class="mdi mdi-clipboard-edit" aria-hidden="true"></span> Edit Category
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-keyword">
                <span class="mdi mdi-key-plus" aria-hidden="true"></span> Create Keyword
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="delete-keyword">
                <span class="mdi mdi-delete" aria-hidden="true"></span> Delete Keyword
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu 
        ? "collapse" 
        : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
