@page "/create"

<PageTitle>Create Keywords</PageTitle>

@using Keyworder.Data
@inject KeywordService KeywordService

<h2>Create Keywords</h2>

@if (AllKeywords == null)
{
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
}
else
{
    @*todo: padding and margins aren't correct here*@
    <form>
        <div class="form-group">
            <input type="text" class="form-control" id="categoryInput" placeholder="Enter a new category" @bind="@NewCategory" @oninput="@((e) => { NewCategory = (string)(e?.Value ?? string.Empty); })" />
        </div>
        <button disabled type="submit" class="btn btn-primary" @onclick="(() => SaveCategory())">Save</button>
    </form>

    <form>
        <div class="form-group">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Apple</a>
                <a class="dropdown-item" href="#">Banana</a>
                <a class="dropdown-item" href="#">Cherry</a>
              </div>
            </div>
            <input type="text" class="form-control" id="keywordInput" aria-describedby="keywordHelp" placeholder="Enter a new keyword" @bind="@NewKeyword" @oninput="@((e) => { NewKeyword = (string)(e?.Value ?? string.Empty); })" />
        </div>
        <button disabled type="submit" class="btn btn-primary" @onclick="(() => SaveKeyword())">Save</button>
    </form>
}

@code {
    private string NewCategory { get; set; } = null!;
    private string NewKeyword { get; set; } = null!;

    private List<Keyword> AllKeywords = new List<Keyword>();

    protected override async Task OnInitializedAsync()
    {
        AllKeywords = (await KeywordService.GetKeywordsAsync()).ToList();
    }

    private void SaveCategory()
    {
        Console.WriteLine($"You added {NewCategory}");
    }

    private void SaveKeyword()
    {
        Console.WriteLine($"You added {NewKeyword}");
    }
}