@page "/delete-category"

<PageTitle>Delete Category</PageTitle>

@using Keyworder.Data
@inject KeywordService KeywordService
@inject NotificationService NotificationService

<div class="row">
    <div class="col">
        <RadzenLabel Text="Category" />
    </div>
</div>

@if (allKeywords == null)
{
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
}
else
{
    <div class="row">
        <div class="col">
            <RadzenDropDown 
                @bind-Value=@selectedCategory 
                Change=@(value => OnCategoryDropDownValueChanged(value)) 
                Data=@GetCategories() 
                Placeholder="Select..." 
                TValue="string" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <RadzenButton 
                BusyText="Deleting..." 
                Click=@OnDeleteCategoryClicked 
                Disabled=@IsDeleteCategoryButtonDisabled() 
                Icon="save" 
                IsBusy=@isCategoryDeleteBusy 
                style="width: 160px" 
                Text="Delete" />
        </div>
        <div class="col">
            <RadzenNotification />
        </div>
    </div>
}

@code {
    private List<Keyword> allKeywords = new List<Keyword>();
    private bool isCategoryDeleteBusy = false;
    private string? selectedCategory = null;

    private static readonly NotificationMessage deletedCategoryMessage = new NotificationMessage 
    { 
        Detail = "Category deleted successfully", 
        Duration = 2000,
        Severity = NotificationSeverity.Success, 
        Summary = "Success"
    };

    protected override async Task OnInitializedAsync()
    {
        allKeywords = await GetAllKeywords();
    }

    private async Task<List<Keyword>> GetAllKeywords()
    {
        var keywordsEnumerable = await KeywordService.GetKeywordsAsync();
        return keywordsEnumerable.ToList();
    }

    private List<string> GetCategories()
    {
        return allKeywords
            .Where(keyword => keyword.IsCategory)
            .Select(keyword => keyword.Name)
            .Distinct()
            .OrderBy(name => name, StringComparer.OrdinalIgnoreCase)
            .ToList();
    }

    private bool IsDeleteCategoryButtonDisabled()
    {
        return string.IsNullOrWhiteSpace(selectedCategory);
    }

    private void OnCategoryDropDownValueChanged(object? value)
    {
        selectedCategory = value?.ToString();
    }

    private async Task OnDeleteCategoryClicked()
    {
        isCategoryDeleteBusy = true;

        var resultType = await this.KeywordService.DeleteCategoryAsync(selectedCategory);
        
        NotificationService.Notify(deletedCategoryMessage);

        allKeywords = await GetAllKeywords();
        selectedCategory = null;
        isCategoryDeleteBusy = false;
    }
}