@page "/"
@inject NavigationManager Navigator

<div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>

@code {
    protected override void OnInitialized()
    {
        Navigator.NavigateTo("/select-keywords", replace: true);
    }
}