@page "/keywords"

<PageTitle>Keywords</PageTitle>

@using Excubo.Blazor.TreeViews
@using Keyworder.Data
@using Keyworder.Utilities
@inject ClipboardService ClipboardService
@inject KeywordService KeywordService

<h1>Keywords</h1>

@if (Items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <TreeView Items="Items" InitiallyCollapsed="true" AllowSelection="true" GetChildren="(item) => item.Children" @bind-SelectedItems="SelectedItems">
        <ItemTemplate>
            @context.Item.Self
        </ItemTemplate>
    </TreeView>
}

<div>
    <button @onclick="@(() => SelectedItems = new List<Item>())">
        Clear
    </button>
</div>

<div>
    <button @onclick="@(() => CopyToClipboard(ToFlickrTagsString(SelectedItems)))">
        Copy
    </button>
</div>

@code {
    private List<Item>? Items;
    private List<Item> SelectedItems = new List<Item>();

    protected override async Task OnInitializedAsync()
    {
        // todo: turn categories into a tree structure to bind without mapping
        var categories = await KeywordService.GetCategoriesAsync();
        Items = BuildItems(categories);
    }

    private List<Item> BuildItems(IEnumerable<Category> categories)
    {
        return categories
            .Select(category => BuildItem(category))
            .ToList();
    }

    private Item BuildItem(Category category)
    {
        return new Item
        {
            Self = category.CategoryId,
            Children = category.Keywords
                .Select(keyword => BuildItem(keyword))
                .ToList()
        };
    }

    private Item BuildItem(Keyword keyword)
    {
        return new Item 
        { 
            Self = keyword.KeywordId 
        };
    }

    private async Task CopyToClipboard(string input)
    {
        await ClipboardService.WriteTextAsync(input);
    }

    private string ToFlickrTagsString(List<Item> items)
    {
        var quotedOrderedStrings = items
            .Where(item => item.Children == null)
            .OrderBy(item => item.Self, StringComparer.OrdinalIgnoreCase)
            .Select(item => $"\"{item.Self}\"");

        return string.Join(",", quotedOrderedStrings);
    }

    private class Item
    {
        public string? Self { get; set; }
        public List<Item>? Children { get; set; }
    }
}