@page "/manage-keywords"

<PageTitle>Manage Keywords</PageTitle>

@using Keyworder.Data
@using Keyworder.Utilities
@inject KeywordService KeywordService
@inject NotificationService NotificationService

@if (allKeywords == null)
{
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
}
else
{
    <div class="row">
        <RadzenFieldset Text="Manage Keywords">
            <RadzenTabs SelectedIndex="0">
                <Tabs>
                    <RadzenTabsItem 
                        @onclick=@(() => OnTabItemClicked(ChangeMode.Create))
                        Text="Create Keyword">
                        <div class="row">
                            <div class="col-md-4 align-items-center d-flex">
                                <RadzenLabel 
                                    Text="Select" />
                            </div>
                            <div class="col-md-8">
                                <RadzenDropDown 
                                    @bind-Value=@categoryDropDownValue 
                                    Change=@(value => OnCategoryDropDownValueChanged(value))
                                    Data=@GetCategories() 
                                    Placeholder="Select..." 
                                    TValue="string" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 align-items-center d-flex">
                                <RadzenLabel 
                                    Text="Name" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox 
                                    @bind-Value=@textBoxValue
                                    Disabled=@IsSpecifyKeywordToCreateDisabled(categoryDropDownValue) 
                                    MaxLength=50 
                                    @oninput=@(args => OnCreateKeywordTextChanged(args?.Value)) 
                                    Placeholder="Keyword..." />
                            </div>
                        </div>
                    </RadzenTabsItem>
                    <RadzenTabsItem 
                        @onclick=@(() => OnTabItemClicked(ChangeMode.Edit))
                        Text="Edit Keyword">
                        <div class="row">
                            <div class="col-md-4 align-items-center d-flex">
                                <RadzenLabel 
                                    Text="Select" />
                            </div>
                            <div class="col-md-8">
                                <RadzenDropDown 
                                    @bind-Value=@categoryDropDownValue
                                    Change=@(value => OnCategoryDropDownValueChanged(value))
                                    Data=@GetCategories() 
                                    Placeholder="Select..." 
                                    TValue="string" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 align-items-center d-flex">
                                <RadzenLabel 
                                    Text="Select" />
                            </div>
                            <div class="col-md-8">
                                <RadzenDropDown 
                                    @bind-Value=@keywordDropDownValue
                                    Change=@(value => OnKeywordDropDownValueChanged(value))
                                    Data=@keywordsByCategory 
                                    Disabled=@IsSelectKeywordDisabled(categoryDropDownValue) 
                                    Placeholder="Select..." 
                                    TValue="string" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 align-items-center d-flex">
                                <RadzenLabel 
                                    Text="Name" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox 
                                    @bind-Value=@textBoxValue 
                                    Disabled=@IsSpecifyKeywordToEditDisabled(categoryDropDownValue, keywordDropDownValue) 
                                    MaxLength=50 
                                    @oninput=@(args => OnEditKeywordTextChanged(args?.Value))
                                    Placeholder="Keyword..." />
                            </div>
                        </div>
                    </RadzenTabsItem>
                    <RadzenTabsItem 
                        @onclick=@(() => OnTabItemClicked(ChangeMode.Delete))
                        Text="Delete Keyword">
                        <div class="row">
                            <div class="col-md-4 align-items-center d-flex">
                                <RadzenLabel 
                                    Text="Select" />
                            </div>
                            <div class="col-md-8">
                                <RadzenDropDown 
                                    @bind-Value=@categoryDropDownValue 
                                    Change=@(value => OnCategoryDropDownValueChanged(value)) 
                                    Data=@GetCategories() 
                                    Placeholder="Select..." 
                                    TValue="string" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 align-items-center d-flex">
                                <RadzenLabel 
                                    Text="Select" />
                            </div>
                            <div class="col-md-8">
                                <RadzenDropDown 
                                    @bind-Value=@keywordDropDownValue 
                                    Change=@(value => OnKeywordDropDownValueChanged(value)) 
                                    Data=@GetKeywordsByCategory(categoryDropDownValue) 
                                    Disabled=@IsSelectKeywordDisabled(categoryDropDownValue) 
                                    Placeholder="Select..." 
                                    TValue="string" />
                            </div>
                        </div>
                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
            <RadzenButton 
                BusyText=@GetSaveBusyText(currentChangeMode)
                ButtonStyle=@GetSaveButtonStyle(currentChangeMode)
                Click=@(() => OnSaveButtonClicked(currentChangeMode, categoryDropDownValue, keywordDropDownValue, textBoxValue))
                Disabled=@IsSaveButtonDisabled(currentChangeMode, categoryDropDownValue, keywordDropDownValue, textBoxValue)
                Icon=@GetSaveButtonIcon(currentChangeMode)
                IsBusy=@IsSaveButtonBusy(currentFormState)
                Text=@GetSaveButtonText(currentChangeMode) />
            <RadzenNotification />
        </RadzenFieldset>
    </div>
}

@code {
    private List<Keyword> allKeywords = new List<Keyword>();
    private ChangeMode currentChangeMode = ChangeMode.Create;
    private FormState currentFormState = FormState.Idle;
    private string? categoryDropDownValue = null;
    private string? keywordDropDownValue = null;
    private List<string> keywordsByCategory = new List<string>();
    private string? textBoxValue = null;

    protected override async Task OnInitializedAsync()
    {
        allKeywords = await GetAllKeywords();
    }

    private async Task<List<Keyword>> GetAllKeywords()
    {
        var keywordsEnumerable = await KeywordService.GetKeywordsAsync();
        return keywordsEnumerable.ToList();
    }

    private List<string> GetKeywordsByCategory(string? categoryDropDownValue)
    {
        return string.IsNullOrWhiteSpace(categoryDropDownValue)
            ? new List<string>()
            : allKeywords
                .Where(keyword => keyword.IsCategory)
                .Where(keyword => keyword.Name.Equals(categoryDropDownValue, StringComparison.Ordinal))
                .SelectMany(parentKeyword => parentKeyword.Children.Select(childKeyword => childKeyword.Name))
                .OrderBy(name => name, StringComparer.OrdinalIgnoreCase)
                .ToList();
    }

    private string GetSaveBusyText(ChangeMode changeMode)
    {
        return changeMode == ChangeMode.Delete
            ? "Deleting..."
            : "Saving...";
    }

    private string GetSaveButtonIcon(ChangeMode changeMode)
    {
        return changeMode == ChangeMode.Delete
            ? "report"
            : "save";
    }

    private ButtonStyle GetSaveButtonStyle(ChangeMode changeMode)
    {
        return changeMode == ChangeMode.Delete
            ? ButtonStyle.Danger
            : ButtonStyle.Info;
    }

    private string GetSaveButtonText(ChangeMode changeMode)
    {
        return changeMode == ChangeMode.Delete
            ? "Delete"
            : "Save";
    }

    private List<string> GetCategories()
    {
        return allKeywords
            .Where(keyword => keyword.IsCategory)
            .Select(keyword => keyword.Name)
            .Distinct()
            .OrderBy(name => name, StringComparer.OrdinalIgnoreCase)
            .ToList();
    }

    private NotificationMessage GetNotificationMessage(ResultType resultType)
    {
        return resultType switch
        {
            ResultType.Created => MessageBuilder.BuildCreatedMessage(EntityType.Keyword),
            ResultType.Deleted => MessageBuilder.BuildDeletedMessage(EntityType.Keyword),
            ResultType.Duplicate => MessageBuilder.BuildDuplicateMessage(EntityType.Keyword),
            ResultType.Edited => MessageBuilder.BuildEditedMessage(EntityType.Keyword),
            ResultType.Error => MessageBuilder.BuildErrorMessage(),
            _ => throw new KeyworderException($"No value configured for ResultType.{resultType}")
        };
    }

    private bool IsSaveButtonDisabledForCreate(
        string? categoryDropDownValue,
        string? textBoxValue)
    {
        return 
            string.IsNullOrWhiteSpace(categoryDropDownValue) ||
            string.IsNullOrWhiteSpace(textBoxValue);
    }

    private bool IsSaveButtonDisabledForDelete(string? keywordDropDownValue)
    {
        return string.IsNullOrWhiteSpace(keywordDropDownValue);
    }

    private bool IsSaveButtonDisabledForEdit(
        string? categoryDropDownValue, 
        string? keywordDropDownValue, 
        string? textBoxValue)
    {
        return 
            string.IsNullOrWhiteSpace(textBoxValue) ||
            string.IsNullOrWhiteSpace(categoryDropDownValue) ||
            (
                keywordDropDownValue != null && 
                keywordDropDownValue.Equals(textBoxValue, StringComparison.Ordinal)
            );
    }

    private bool IsSaveButtonBusy(FormState formState)
    {
        return formState == FormState.Busy;
    }

    private bool IsSaveButtonDisabled(
        ChangeMode changeMode,
        string? categoryDropDownValue,
        string? keywordDropDownValue,
        string? textBoxValue)
    {
        return changeMode switch
        {
            ChangeMode.Create => IsSaveButtonDisabledForCreate(categoryDropDownValue, textBoxValue),
            ChangeMode.Edit => IsSaveButtonDisabledForEdit(categoryDropDownValue, keywordDropDownValue, textBoxValue),
            ChangeMode.Delete => IsSaveButtonDisabledForDelete(keywordDropDownValue),
            _ => throw new KeyworderException($"No value configured for ChangeMode.{changeMode}")
        };
    }

    private bool IsSelectKeywordDisabled(string? categoryDropDownValue)
    {
        return string.IsNullOrWhiteSpace(categoryDropDownValue);
    }

    private bool IsSpecifyKeywordToCreateDisabled(string? categoryDropDownValue)
    {
        return string.IsNullOrWhiteSpace(categoryDropDownValue);
    }

    private bool IsSpecifyKeywordToEditDisabled(
        string? categoryDropDownValue, 
        string? keywordDropDownValue)
    {
        return 
            string.IsNullOrWhiteSpace(categoryDropDownValue) ||
            string.IsNullOrWhiteSpace(keywordDropDownValue);
    }

    private void OnCategoryDropDownValueChanged(object? value)
    {
        categoryDropDownValue = value?.ToString();
        keywordsByCategory = GetKeywordsByCategory(categoryDropDownValue);
    }

    private void OnKeywordDropDownValueChanged(object? value)
    {
        keywordDropDownValue = value?.ToString();
        textBoxValue = keywordDropDownValue;
    }

    private async Task OnCreateKeyword(
        string? categoryDropDownValue,
        string? textBoxValue)
    {
        if (string.IsNullOrWhiteSpace(categoryDropDownValue))
            throw new ArgumentNullException(nameof(categoryDropDownValue));
        if (string.IsNullOrWhiteSpace(textBoxValue))
            throw new ArgumentNullException(nameof(textBoxValue));

        SetFormState(FormState.Busy);

        var resultType = await this.KeywordService.CreateKeywordAsync(
            categoryDropDownValue,
            textBoxValue);

        NotificationService.Notify(GetNotificationMessage(resultType));

        await ResetForm();

        SetFormState(FormState.Idle);
    }

    private void OnCreateKeywordTextChanged(object? value)
    {
        textBoxValue = value?.ToString();
    }

    private async Task OnDeleteKeyword(
        string? categoryDropDownValue,
        string? keywordDropDownValue)
    {
        if (string.IsNullOrWhiteSpace(categoryDropDownValue))
            throw new ArgumentNullException(nameof(categoryDropDownValue));
        if (string.IsNullOrWhiteSpace(keywordDropDownValue))
            throw new ArgumentNullException(nameof(keywordDropDownValue));

        SetFormState(FormState.Busy);

        var resultType = await this.KeywordService.DeleteKeywordAsync(
            categoryDropDownValue,
            keywordDropDownValue);

        NotificationService.Notify(GetNotificationMessage(resultType));

        await ResetForm();

        SetFormState(FormState.Idle);
    }

    private async Task OnEditKeyword(
        string? categoryDropDownValue,
        string? keywordDropDownValue, 
        string? textBoxValue)
    {
        if (string.IsNullOrWhiteSpace(categoryDropDownValue))
            throw new ArgumentNullException(nameof(categoryDropDownValue));
        if (string.IsNullOrWhiteSpace(keywordDropDownValue))
            throw new ArgumentNullException(nameof(keywordDropDownValue));
        if (string.IsNullOrWhiteSpace(textBoxValue))
            throw new ArgumentNullException(nameof(textBoxValue));

        SetFormState(FormState.Busy);

        var resultType = await this.KeywordService.EditKeywordAsync(
            categoryDropDownValue, 
            keywordDropDownValue,
            textBoxValue);

        NotificationService.Notify(GetNotificationMessage(resultType));

        await ResetForm();

        SetFormState(FormState.Idle);
    }

    private void OnEditKeywordTextChanged(object? value)
    {
        textBoxValue = value?.ToString();
    }

    private async Task OnSaveButtonClicked(
        ChangeMode changeMode,
        string? categoryDropDownValue,
        string? keywordDropDownValue, 
        string? textBoxValue)
    {
        switch (changeMode)
        {
            case ChangeMode.Create:
                await OnCreateKeyword(categoryDropDownValue, textBoxValue);
                break;
            case ChangeMode.Edit:
                await OnEditKeyword(categoryDropDownValue, keywordDropDownValue, textBoxValue);
                break;
            case ChangeMode.Delete:
                await OnDeleteKeyword(categoryDropDownValue, keywordDropDownValue);
                break;
            default:
                throw new KeyworderException($"No action configured for ChangeMode.{changeMode}");
        }
    }

    private void OnTabItemClicked(ChangeMode changeMode)
    {
        currentChangeMode = changeMode;
        ResetUserInput();
    }

    private async Task ResetForm()
    {
        allKeywords = await GetAllKeywords();
        ResetUserInput();
    }

    private void ResetUserInput()
    {
        categoryDropDownValue = null;
        keywordDropDownValue = null;
        textBoxValue = null;
    }

    private void SetFormState(FormState formState)
    {
        currentFormState = formState;
    }
}
