@page "/select-keywords"

<PageTitle>Select Keywords</PageTitle>

@using Excubo.Blazor.TreeViews
@using Keyworder.Data
@using Keyworder.Utilities
@inject ClipboardService ClipboardService
@inject KeywordService KeywordService

<h2>Select Keywords</h2>

@if (allKeywords == null)
{
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
}
else
{
    <div class="row">
        <div class="col">
            <TreeView 
                AllowSelection="true" 
                @bind-SelectedItems="selectedKeywords"
                GetChildren="(keywords) => keywords.Children" 
                InitiallyCollapsed="true" 
                ItemClass="tree-item" 
                ItemDisabled="keyword => IsKeywordDisabled(keyword)" 
                Items=@allKeywords 
                @key=@selectedKeywords 
                SortBy="(keywords) => keywords.OrderBy(keyword => keyword.Name)">
                <ItemTemplate>
                    @context.Item.Name
                </ItemTemplate>
            </TreeView>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <RadzenButton 
                ButtonStyle="ButtonStyle.Info" 
                Click=@ClearSelectedKeywords 
                Disabled=@IsSelectedKeywordsEmpty() 
                Text="Clear" />
        </div>
        <div class="col">
            <RadzenButton 
                ButtonStyle="ButtonStyle.Info" 
                Click="@(() => CopyToClipboard(ToFlickrTagsString(selectedKeywords)))" 
                Disabled=@IsSelectedKeywordsEmpty() 
                Text="Copy" />
        </div>
    </div>
}

@code {
    private List<Keyword> allKeywords = new List<Keyword>();
    private List<Keyword> selectedKeywords = new List<Keyword>();

    protected override async Task OnInitializedAsync()
    {
        allKeywords = await GetAllKeywords();
    }

    private void ClearSelectedKeywords()
    {
        selectedKeywords = new List<Keyword>();
    }

    private async Task CopyToClipboard(string input)
    {
        await ClipboardService.WriteTextAsync(input);
    }

    private async Task<List<Keyword>> GetAllKeywords()
    {
        var keywordsEnumerable = await KeywordService.GetKeywordsAsync();
        return keywordsEnumerable.ToList();
    }

    private bool IsKeywordDisabled(Keyword keyword)
    {
        return keyword.IsCategory && 
            !keyword.Children.Any();
    }

    private bool IsSelectedKeywordsEmpty()
    {
        return selectedKeywords
            .Where(keyword => !keyword.IsCategory)
            .Count() == 0;
    }

    private string ToFlickrTagsString(IEnumerable<Keyword> keywords)
    {
        var values = keywords
            .Where(keyword => keyword.Children == null)
            .Select(keyword => keyword.Name);

        return TagService.ToFlickrTagsString(values);
    }
}