@page "/select"

<PageTitle>Select Keywords</PageTitle>

@using Excubo.Blazor.TreeViews
@using Keyworder.Data
@using Keyworder.Utilities
@inject ClipboardService ClipboardService
@inject KeywordService KeywordService

<h2>Select Keywords</h2>

@if (AllKeywords == null)
{
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
}
else
{
    <TreeView @key="SelectedKeywords" Items="AllKeywords" InitiallyCollapsed="true" AllowSelection="true" GetChildren="(keywords) => keywords.Keywords" SortBy="(keywords) => keywords.OrderBy(keyword => keyword.Name)" @bind-SelectedItems="SelectedKeywords">
        <ItemTemplate>
            @context.Item.Name
        </ItemTemplate>
    </TreeView>

    <button @onclick="@(() => ClearSelectedKeywords())">
        Clear
    </button>

    <button @onclick="@(() => CopyToClipboard(ToFlickrTagsString(SelectedKeywords)))">
        Copy
    </button>
}

@code {
    private List<Keyword> AllKeywords = new List<Keyword>();
    private List<Keyword> SelectedKeywords = new List<Keyword>();

    protected override async Task OnInitializedAsync()
    {
        AllKeywords = (await KeywordService.GetKeywordsAsync()).ToList();
    }

    private void ClearSelectedKeywords()
    {
        SelectedKeywords = new List<Keyword>();
    }

    private async Task CopyToClipboard(string input)
    {
        await ClipboardService.WriteTextAsync(input);
    }

    private string ToFlickrTagsString(IEnumerable<Keyword> keywords)
    {
        var values = keywords
            .Where(keyword => keyword.Keywords == null)
            .Select(keyword => keyword.Name);

        return TagService.ToFlickrTagsString(values);
    }
}