@page "/select-keywords"

<PageTitle>Select Keywords</PageTitle>

@using Excubo.Blazor.TreeViews
@using Keyworder.Data
@using Keyworder.Utilities
@inject ClipboardService ClipboardService
@inject KeywordService KeywordService

<h2>Select Keywords</h2>

@if (AllKeywords == null)
{
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
}
else
{
    <div class="row">
        <div class="col">
            <TreeView @key=@SelectedKeywords Items=@AllKeywords ItemDisabled="keyword => IsKeywordDisabled(keyword)" InitiallyCollapsed="true" AllowSelection="true" ItemClass="tree-item" GetChildren="(keywords) => keywords.Children" SortBy="(keywords) => keywords.OrderBy(keyword => keyword.Name)" @bind-SelectedItems="SelectedKeywords">
                <ItemTemplate>
                    @context.Item.Name
                </ItemTemplate>
            </TreeView>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <RadzenButton Text="Clear" Disabled=@IsSelectedKeywordsEmpty() Click=@ClearSelectedKeywords />
        </div>
        <div class="col">
            <RadzenButton Text="Copy" Disabled=@IsSelectedKeywordsEmpty() Click="@(() => CopyToClipboard(ToFlickrTagsString(SelectedKeywords)))" />
        </div>
    </div>
}

@code {
    private List<Keyword> AllKeywords = new List<Keyword>();
    private List<Keyword> SelectedKeywords = new List<Keyword>();

    protected override async Task OnInitializedAsync()
    {
        AllKeywords = (await KeywordService.GetKeywordsAsync()).ToList();
    }

    private void ClearSelectedKeywords()
    {
        SelectedKeywords = new List<Keyword>();
    }

    private async Task CopyToClipboard(string input)
    {
        await ClipboardService.WriteTextAsync(input);
    }

    private bool IsKeywordDisabled(Keyword keyword)
    {
        return keyword.IsCategory && 
            !keyword.Children.Any();
    }

    private bool IsSelectedKeywordsEmpty()
    {
        return SelectedKeywords
            .Where(keyword => !keyword.IsCategory)
            .Count() == 0;
    }

    private string ToFlickrTagsString(IEnumerable<Keyword> keywords)
    {
        var values = keywords
            .Where(keyword => keyword.Children == null)
            .Select(keyword => keyword.Name);

        return TagService.ToFlickrTagsString(values);
    }
}